* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #85bdbf;
}
header {
  font-size: 2rem;
  color: #c9fbff;
  height: 10vh;
  width: 100vw;
  background-color: #040f0f;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-weight: 100;
}
#header {
  background-color: #c9fbff;
  height: 60vh;
  width: 60vw;
  margin: 0 auto;
  padding: 1vh;
  text-align: center;
  margin-top: 15px;
  border: 3px #040f0f solid;
  border-radius: 15px;
}
#pfp {
  border-radius: 50%;
}
#hobbies-technolgies {
  height: 80vh;
  width: 60vw;
  margin: 0 auto;
  padding: 1vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hobbies {
  height: 90%;
  width: 40%;
  padding: 1vh;
  text-align: center;
  margin-top: 15px;
  margin-right: 5%;
  border: 3px #040f0f solid;
  border-radius: 15px;
}
#technolgies {
  height: 90%;
  width: 40%;
  padding: 1vh;
  text-align: center;
  margin-top: 15px;
  margin-left: 5%;
  border: 3px #040f0f solid;
  border-radius: 15px;
}
#tech-h2 {
  font-size: 2.5rem;
  margin-bottom: 2vh;
}
#tech-list {
  list-style: none;
}
.tech-item {
  font-size: 1.5rem;
}
#hobby-list {
  list-style: none;
}
